
body {
  font-family: sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  border: double;
  //padding: 5px;
  margin: 20px;
  font-weight: 400;
  font-size: 3em;
}

// added to style link
a {
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: auto;
}

//header {
//  text-align: center;
//  padding: 20px;
//  border-bottom: dotted 1px #ccc;
//}
//
//.tagline {
//  font-family: "Courier New";
//}

.cart {
  float: right;
  padding: 10px;
  background: rgba(255, 161, 161, 0.21);
  text-align: right;
  margin-top: 4px;
  clear:both;

  button.StripeCheckout {
    margin-left: 20px;
  }
}


.cart-controls {

}


//.ch-product {
//  background-color: MistyRose
//}

.product {
  //width: 100%;
  max-width:  100%;
  height: auto;//450px;
  padding: 20px;
  border-bottom: dotted 1px black;
}

.sticker-container {
  //width: 365px;
  //float: left;
}

.sticker {
  border: solid 1px #333;
  width:  auto;//505px;
  max-width: 100%;//590px;
  padding: 5px;

  img {
    border: solid 1px #ccc;
    width:auto;
    max-width:100%; // needed for auto scaling with window
    height:auto;
  }
}


.stripe-payment-form {
  margin-top: 15px;
}