<!--<h1>Store#index</h1>-->
<!--<p>Find me in app/views/store/index.html.erb</p>-->
<div class=container">
  <h1>fire stickers.win rocket</h1>

  <div>
    <h2>5-Pack for $5</h2>
    <h3>Free shipping!</h3>
    <div class="sticker">
      <%= image_tag("BulldogPNG.png", alt: "BULLY PUP") %>
    </div>
  </div>

</div>
